.spacer {
    height: 5%;
}
.circle, .vertex, .table, .hexagontent, .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hexagon {
    position: absolute;
    /* easy way: height is width * 1.732
    actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
    remove border-radius for sharp corners on hexagons
    these are calculated leaving 10% width (11px) on each side for wiring
    */
    width: 123px;
    height: 71px;
    text-align: center;
    z-index: 150;
}
.table {
    background: deepskyblue;
    position: relative;
    width: 404px;
    height: 700px;
    vertical-align: middle;
    z-index: 100;
}
.hexagon:before {
    background: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(-60deg);
    width: inherit;
    height: inherit;
    z-index: inherit;
}
.hexagon:after {
    background: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(60deg);
    width: inherit;
    height: inherit;
    z-index: inherit;
}
/**
Considering 10% width on each side for wiring
ScalingW% = 1.8876*ScalingH%
 */
.hexagontent {
    height: 90%;
    width: 169.88%;
    z-index: 200;
}
.circle, .vertex {
    width: 47px;
    height: 47px;
    background: #F0DC82;
    z-index: 250;
    border-radius: 50%;
}
.circle {
    border: 2px solid black;
}
.number {
    vertical-align: middle;
    font-weight: bold;
}
.n2, .n12 {
    font-size: 120%;
}
.n3, .n11 {
    font-size: 140%;
}
.n4, .n10 {
    font-size: 160%;
}
.n5, .n9 {
    font-size: 180%;
}
.n6, .n8 {
    font-size: 200%;
    color: red;
}
/*
textures taken and modified from https://leaverou.github.io/css3patterns/#
 */
.type0 {
    background:
            radial-gradient(circle at 100% 50%, transparent 20%, rgba(155, 135, 12, 1.0) 21%, rgba(155, 135, 12, 1.0) 34%, transparent 35%, transparent),
            radial-gradient(circle at 0% 50%, transparent 20%, rgba(155, 135, 12, 1.0) 21%, rgba(155, 135, 12, 1.0) 34%, transparent 35%, transparent) 0 -6px;
    background-color: #fce883;
    background-size: 9px 12px;
}
.type1 {
    background-color:darkgreen;
    background-image:
            radial-gradient(circle at 100% 150%, darkgreen 24%, green 24%, green 28%, darkgreen 28%, darkgreen 36%, green 36%, green 40%, transparent 40%, transparent),
            radial-gradient(circle at 0    150%, darkgreen 24%, green 24%, green 28%, darkgreen 28%, darkgreen 36%, green 36%, green 40%, transparent 40%, transparent),
            radial-gradient(circle at 50%  100%, green 10%, darkgreen 10%, darkgreen 23%, green 23%, green 30%, darkgreen 30%, darkgreen 43%, green 43%, green 50%, darkgreen 50%, darkgreen 63%, green 63%, green 71%, transparent 71%, transparent),
            radial-gradient(circle at 100% 50%, green 5%, darkgreen 5%, darkgreen 15%, green 15%, green 20%, darkgreen 20%, darkgreen 29%, green 29%, green 34%, darkgreen 34%, darkgreen 44%, green 44%, green 49%, transparent 49%, transparent),
            radial-gradient(circle at 0    50%, green 5%, darkgreen 5%, darkgreen 15%, green 15%, green 20%, darkgreen 20%, darkgreen 29%, green 29%, green 34%, darkgreen 34%, darkgreen 44%, green 44%, green 49%, transparent 49%, transparent);
    background-size: 40px 20px;
}
.type2 {
    background-color: sandybrown;
    background-image: linear-gradient(335deg, #b00 8px, transparent 8px),
    linear-gradient(155deg, #d00 8px, transparent 8px),
    linear-gradient(335deg, #b00 8px, transparent 8px),
    linear-gradient(155deg, #d00 8px, transparent 8px);
    background-size: 19px 19px;
    background-position: 0px 1px, 1px 12px, 10px 10px, 11px 2px;
}
.type3 {
    background-color: lightgreen;
    background-image: radial-gradient(white 2px, transparent 3px),
    repeating-radial-gradient(white 0, white 4px, transparent 5px, transparent 20px, white 21px, white 25px, transparent 26px, transparent 50px);
    background-size: 15px 15px, 45px 45px;
    background-position: 0 0;
}
.type4 {
    background-color: gold;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(155, 135, 12,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(155, 135, 12,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(155, 135, 12,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
.type5 {
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:40px 70px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
/*shapes taken from https://css-tricks.com/the-shapes-of-css/*/
/*edge is a modified hexagon*/
/*edge width modified from 12px to 14px for better overall overlap*/
.edge {
    position: absolute;
    width: 14px;
    height: 71px;
    background: #E0AB76;
    border-color: #E0AB76;
}
.edge:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid;
    border-bottom-color: inherit;
}
.edge:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid;
    border-top-color: inherit;
}
/*structure1 is a star octagon; parent and after: are squares*/
.structure1 {
    background: lightgray;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    transform: rotate(22deg);
}
.structure1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: inherit;
    transform: rotate(45deg);
}
/*structure2 is a star dodecagon; parent, before: and after: are squares*/
.structure2 {
    background: lightgrey;
    width: 35px;
    height: 35px;
    position: relative;
    text-align: center;
}
.structure2:before,
.structure2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: inherit;
}
.structure2:before {
    transform: rotate(30deg);
}
.structure2:after {
    transform: rotate(60deg);
}
