3-4 players map placeholder
    <div class="hexagon table">
        <div class="hexagontent">

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>

            <div class="hexagon">
                <div class="circle">
                    <div class="number">2</div>
                </div>
            </div>


        </div>


    </div>
